#### Multiple Linear Regression

In multiple linear regression, there are more than one independent values. Multiple linear regression proved to be useful in creating a better model, as there was a significant change in the value of R-squared.

$ Y = {\beta}_{0} + {\beta}_{1}{X}_{1} + {\beta}_{2}{X}_{2} + {\beta}_{3}{X}_{3}... + {\beta}_{n}{X}_{n} $

Apart from the formulation, there are some other aspects that still remain the same:

1. The model now fits a hyperplane instead of a line
2. Coefficients are still obtained by minimising the sum of squared errors, the least squares criteria
3. For inference, the assumptions from simple linear regression still hold - zero-mean, independent and normally distributed error terms with constant variance


The new aspects to consider when moving from simple to multiple linear regression are:

1. Overfitting
    As you keep adding the variables, the model may become far too complex. It may end up memorising the training data and will fail to generalise. A model is generally said to overfit when the training accuracy is high while the test accuracy is very low
    
2. Multicollinearity
    Associations between predictor variables, which you will study later

3. Feature selection
    Selecting the optimal set from a pool of given features, many of which might be redundant becomes an important task

In [17]:
import ast,sys
import pandas as pd 

name = ['Reetesh', 'Shruti', 'Kaustubh', 'Vikas', 'Mahima', 'Akshay']
response = ['No', 'Maybe', 'yes', 'Yes', 'maybe', 'Yes']


df = pd.DataFrame({'Name': name,'Response': response})
df['Response']=df['Response'].apply(lambda x:x.lower())
df[['Response']]=df[['Response']].apply(lambda x: x.map({'yes': 1,'no': 0,'maybe': 0.5}))
df

       Name  Response
0   Reetesh       0.0
1    Shruti       0.5
2  Kaustubh       1.0
3     Vikas       1.0
4    Mahima       0.5
5    Akshay       1.0