In [41]:
import sys
import pandas as pd
import cchardet as chardet
# look at the first ten thousand bytes to guess the character encoding
with open("loan.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))
# check what the character encoding might be
print(result['encoding'])

ASCII

In [38]:
pd.set_option('display.max_columns', 120)
pd.set_option('display.max_colwidth', None) # make sure data and columns are displayed correctly withput purge
pd.options.display.float_format = '{:20,.2f}'.format # display float value with correct precision 
encoding="UTF-8"
loan_df = pd.read_csv("loan.csv",low_memory = False,encoding = encoding)

In [42]:
# Method to determine metadata of any dataframe
def getMetadata(df) :
    metadata_info = pd.DataFrame({
        'Total_Element': df.count(), # total elements in columns            
        'Datatype' : df.dtypes, # data types of columns
        'Null_Count': df.isnull().sum(), # total null values in columns
        'Null_Percent': df.isnull().sum()/len(df) * 100 # percentage of null values
                       })
    return metadata_info

In [63]:
null_col=getMetadata(loan_df)
null_col[(null_col.Null_Percent<100.00) & (null_col.Null_Percent>75.00)]

,Total_Element,Datatype,Null_Count,Null_Percent
mths_since_last_record,2786,float64,36931,92.99
next_pymnt_d,1140,object,38577,97.13

In [71]:
unique_value = loan_df.nunique()
unique_value[unique_value.values == 1]

pymnt_plan                    1
initial_list_status           1
collections_12_mths_ex_med    1
policy_code                   1
application_type              1
acc_now_delinq                1
chargeoff_within_12_mths      1
delinq_amnt                   1
tax_liens                     1
dtype: int64

In [80]:
loan_df["tax_liens"].value_counts()

0.00    39678
Name: tax_liens, dtype: int64