In [5]:
import sys
import pandas as pd
import cchardet as chardet
# look at the first ten thousand bytes to guess the character encoding
with open("loan.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))
# check what the character encoding might be
print(result['encoding'])

ASCII

In [6]:
pd.set_option('display.max_columns', 120)
pd.set_option('display.max_colwidth', None) # make sure data and columns are displayed correctly withput purge
pd.options.display.float_format = '{:20,.2f}'.format # display float value with correct precision 
encoding="UTF-8"
loan_df = pd.read_csv("loan.csv",low_memory = False,encoding = encoding)
loan_df.shape

(39717, 111)

In [7]:
# Method to determine metadata of any dataframe
def getMetadata(df) :
    metadata_info = pd.DataFrame({
        'Total_Element': df.count(), # total elements in columns            
        'Datatype' : df.dtypes, # data types of columns
        'Null_Count': df.isnull().sum(), # total null values in columns
        'Null_Percent': df.isnull().sum()/len(df) * 100 # percentage of null values
                       })
    return metadata_info

In [19]:
null_col=getMetadata(loan_df)
null_col[(null_col.Null_Percent<75.00) & (null_col.Null_Percent>20.00)]
#null_col[(null_col.Null_Percent>30.00)].count()
## 55 null columns drop
## desc -drop
loan_df.mths_since_last_delinq.value_counts()

  0.00    443
 15.00    252
 30.00    247
 23.00    247
 24.00    241
         ...
115.00      1
106.00      1
 95.00      1
120.00      1
 89.00      1
Name: mths_since_last_delinq, Length: 95, dtype: int64

In [20]:
unique_value = loan_df.nunique()
unique_value[unique_value.values == 1]

pymnt_plan                    1
initial_list_status           1
collections_12_mths_ex_med    1
policy_code                   1
application_type              1
acc_now_delinq                1
chargeoff_within_12_mths      1
delinq_amnt                   1
tax_liens                     1
dtype: int64

In [26]:
loan_df["pymnt_plan"].value_counts()

n    39717
Name: pymnt_plan, dtype: int64

In [98]:
null_col[null_col.Datatype=='object']

                     Total_Element Datatype  Null_Count         Null_Percent
term                         39717   object           0                 0.00
int_rate                     39717   object           0                 0.00
grade                        39717   object           0                 0.00
sub_grade                    39717   object           0                 0.00
emp_title                    37258   object        2459                 6.19
emp_length                   38642   object        1075                 2.71
home_ownership               39717   object           0                 0.00
verification_status          39717   object           0                 0.00
issue_d                      39717   object           0                 0.00
loan_status                  39717   object           0                 0.00
pymnt_plan                   39717   object           0                 0.00
url                          39717   object           0                 0.00
desc                         26777   object       12940                32.58
purpose                      39717   object           0                 0.00
title                        39706   object          11                 0.03
zip_code                     39717   object           0                 0.00
addr_state                   39717   object           0                 0.00
earliest_cr_line             39717   object           0                 0.00
revol_util                   39667   object          50                 0.13
initial_list_status          39717   object           0                 0.00
last_pymnt_d                 39646   object          71                 0.18
next_pymnt_d                  1140   object       38577                97.13
last_credit_pull_d           39715   object           2                 0.01
application_type             39717   object           0                 0.00